
.columnPassed {
  background-color: green;
}

.columnFailed {
  background-color: red;
}

.headerValue {
  font-size: 10px;
}

.columnSize {
  min-width: 80px;
}


html, body, .tooltip, .popover {
  font-family: 'Times New Roman', serif !important;
}
code, kbd, pre, samp, .text-monospace {
  font-family: 'Times New Roman', serif !important;
}
button, input, optgroup, select, textarea {
  font-family: 'Times New Roman', serif !important;
}