
.rowName {
  text-align: left;
}

.headerValue {
  font-size: 10px;
}

.columnPassed {
  background-color: green;
}

.columnFailed {
  background-color: red;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }

.headercolumn {
    width: 200px;
}

.tooltipwrap {
  position: relative;
}

.tooltipwrap .tooltipcontent {
  display: none;
  position: absolute;
  bottom: 5%;
  left: 5%;
  right: 5%;
  background-color: #fff;
  padding: .5em;
  min-width: 10rem;
}

.tooltipwrap:hover .tooltipcontent {
  display: block;
  width: 1000px;
}