
.rowName {
  text-align: left;
}

.headerValue {
  font-size: 10px;
}

.columnPassed {
  background-color: green;
}

.columnFailed {
  background-color: red;
}

.styledtable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styledtable thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styledtable th,
.styledtable td {
  padding: 12px 15px;
  border-right: 1px solid #dddddd;
}

.styledtable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.hover_img a { position:relative; }
.hover_img a span { position:absolute; display:none; z-index:99; }
.hover_img a:hover span { display:block; }